.example-spacer {
  flex: 1 1 auto;
}

.navigation-item {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  margin-right: 15px;
}
.logo{
  height: 35px;
  width: 35px;
  margin-right: 10px;
}
.header{
  display: flex;
  align-items: center;
  cursor: pointer;
}
